<style>
.message-content {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  font-size: 18px;
  line-height: 21px;
}
</style>

<div class="message-content">
  <p>Hello, {{email}}</p>
  <p>We're excited to have you get started. First, you need to confirm your account. Just press the button below.</p>
  <p>
    <a href="{{link}}">Confirm Account</a>
  </p>
  <p>If that doesn't work, copy and paste the following link in your browser:</p>
  <p><a href="{{link}}">{{link}}</a></p>
  <p>
    Cheers,<br />
    <strong>Team AppName</strong>
  </p>
</div>
